<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签必须放在最前面，任何其他内容都必须跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">
    <title>后台管理</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/myindex.css" rel="stylesheet">
</head>

<body>





<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">令人窒息的后台管理界面</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                菜单一
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            菜单一下面的内容
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                菜单二
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            菜单二下面的内容
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                菜单三
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            菜单三下面的内容
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!--面板组件开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">

                    <div style="padding-bottom: 15px">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail2"
                                       placeholder="搜索">
                            </div>
                            <button type="submit" class="btn btn-primary">搜索</button>

                            <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                                    data-target="#myModal">添加
                            </button>
                        </form>
                    </div>

                    <!--表格开始-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">姓名</th>
                                <th class="text-center">邮箱</th>
                                <th class="text-center">爱好</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>LCG</td>
                                <td>lcgbeautiful@gmail.com</td>
                                <td>下棋、练字、弹琴、画画、读书，游泳，舞蹈，摄影</td>
                                <td>
                                    <button type="button" class="btn btn-success edit"><span
                                            class="glyphicon glyphicon-pencil "></span>编辑
                                    </button>
                                    <button type="button" class="btn btn-danger delete"><span
                                            class="glyphicon glyphicon-remove "></span>删除
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>LCG</td>
                                <td>lcgbeautiful@gmail.com</td>
                                <td>下棋、练字、弹琴、画画、读书，游泳，舞蹈，摄影</td>
                                <td>
                                    <button type="button" class="btn btn-success edit"><span
                                            class="glyphicon glyphicon-pencil "></span>编辑
                                    </button>
                                    <button type="button" class="btn btn-danger delete"><span
                                            class="glyphicon glyphicon-remove "></span>删除
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>LCG</td>
                                <td>lcgbeautiful@gmail.com</td>
                                <td>下棋、练字、弹琴、画画、读书，游泳，舞蹈，摄影</td>
                                <td>
                                    <button type="button" class="btn btn-success edit"><span
                                            class="glyphicon glyphicon-pencil "></span>编辑
                                    </button>
                                    <button type="button" class="btn btn-danger delete"><span
                                            class="glyphicon glyphicon-remove "></span>删除
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>LCG</td>
                                <td>lcgbeautiful@gmail.com</td>
                                <td>下棋、练字、弹琴、画画、读书，游泳，舞蹈，摄影</td>
                                <td>
                                    <button type="button" class="btn btn-success edit"><span
                                            class="glyphicon glyphicon-pencil "></span>编辑
                                    </button>
                                    <button type="button" class="btn btn-danger  delete"><span
                                            class="glyphicon glyphicon-remove"></span>删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--表格结束-->
                    <nav aria-label="Page navigation" class="pull-right">
                        <div>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                    </nav>
                </div>

            </div>
        </div>
        <!--面板组件结束-->

    </div>
</div>
</div>


<!--模态框开始-->
<!--如果你不需要模态框弹出时的动画效果（淡入淡出效果），删掉 .fade 类即可。-->
<div id='myModal' class="modal fade" tabindex="-1" role="dialog">
    <!--模态框提供了两个可选尺寸类modal-lg  modal-sm，通过为 .modal-dialog 增加这个样式调整类实现 。-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加信息</h4>
            </div>
            <div class="modal-body">
                <!--表单开始-->
                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputHobby" class="col-sm-2 control-label">爱好</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputHobby" placeholder="爱好">
                        </div>
                    </div>

                </form>
                <!--表单结束-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary submit">提交</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!--模态框结束-->

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script>
    // 模态框上的提交按钮绑定事件
    // 1. 取值  --> 取的模态框里面input的值  --> 保存到变量
    // 2. 添加一行新记录 --> 新的tr标签 --> 自己拼接
    // 4. 关闭模态框
    $Mymodal = $("#myModal");
    $(".submit").on("click", function () {
        // 1. 取值  --> 取的modal里面input的值  --> 保存到变量
        var name = $("#inputName").val();
        var email = $("#inputEmail").val();
        var hobby = $("#inputHobby").val();
        var num = $("tbody tr").length + 1;
        // 因为我们的编辑和新添加都用的一个模态框
        // 需要做判断，我到底是添加呢还是编辑呢？

        if ($Mymodal.data("currentTr") === undefined) {
            // 不是编辑操作
            // 是新添加操作
            // 生成完整的tr
            var trEle = document.createElement("tr");
            var $trEle = $(trEle);
            $trEle.append("<td>" + num + "</td>");
            $trEle.append("<td>" + name + "</td>");
            $trEle.append("<td>" + email + "</td>");
            $trEle.append("<td>" + hobby + "</td>");
            $trEle.append('<td><button type="button" class="btn btn-success edit"><span class="glyphicon glyphicon-pencil "></span>编辑</button><button type="button" class="btn btn-danger  delete"><span class="glyphicon glyphicon-remove"></span>删除</button></td>');

            // 把tr加到table里面
            $trEle.appendTo("tbody");
        } else {
            // 是一个编辑操作
            var $data = $Mymodal.data("currentTr");
            // 这里可以删除掉.data("currentTr")
            $Mymodal.removeData("currentTr");
            $data.eq(1).text(name);
            $data.eq(2).text(email);
            $data.eq(3).text(hobby);
        }

        $Mymodal.modal("hide");

    });

    // 编辑按钮
    $table = $("table");
    //    $(".edit").on("click", function () {
    $table.on("click", ".edit", function () {
        // 1. 弹出模态框
        $Mymodal.modal("show");
        // 2. 取值 --> 当前行的姓名和爱好  --> 赋值给变量
        var $siblings = $(this).parent().siblings();
        var name = $siblings.eq(1).text();
        var email = $siblings.eq(2).text();
        var hobby = $siblings.eq(3).text();
        // 3. 给modal框里的input赋值
        $("#inputName").val(name);
        $("#inputEmail").val(email);
        $("#inputHobby").val(hobby);

        // 把当前的tr保存起来
        $Mymodal.data("currentTr", $siblings);

    });


    // 点击模态框里面的提交按钮要做的事儿
    // 1. 取值  --> 取的modal里面input的值  --> 保存到变量
    // 做判断
    // 1. 如果能从$Mymodal.data("tr")能取到值（undefined）表示这是一个编辑操作
    // 去替换当前tr的对应值
    // 否则就是一个新添加的操作


    // 删除按钮的事件
    $table.on("click", ".delete", function () {
        // 更新序号
        // 每一行的序号都减1
        $(this).parent().parent().nextAll().each(function () {
            var $currTd = $(this).children().first();
            var num = $currTd.text() - 1;
            $currTd.text(num);
        });

        $(this).parent().parent().remove();

    });

</script>

</body>
</html>